* html {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: black;
}

h1 {
    font-size: 40px;
}

.espaco {
    padding: 50px;
}

#caixa {
    padding: 100px;
    font-size: 20px;
    background-color: white;
    border-radius: 10px;
}

#lista {
    background-color: gray;
    color: black;
    padding: 25px;
}

#lista li{
    font-size: 30px;
    padding: 10px;
}

#lista a {
    text-decoration: none;
    background-color: rgb(207, 196, 174);
    border: 1px solid #ccc;
    border-radius: 2px;
    color: red;
}